<ng4-loading-spinner> </ng4-loading-spinner>
<div class="container">
  <div class="row mt-5">
    <div
      class="col-md-6 d-flex justify-content-center"
      *ngIf="bookId['volumeInfo'].imageLinks"
    >
      <img
        src="{{ bookId['volumeInfo'].imageLinks.thumbnail }}"
        alt=""
        width="55%"
      />
      <a
        href="https://books.google.com/books?id={{
          bookId.id
        }}&printsec=frontcover&source=gbs_ge_summary_r&cad=0#v=onepage&q&f=false"
        title="Read More"
        target="_blank"
        ><i class="fa fa-expand-arrows-alt fa-2x"></i
      ></a>
    </div>

    <div class="col-md-6">
      <h4 *ngIf="bookId['volumeInfo'].title">
        {{ bookId['volumeInfo'].title }}
      </h4>
      <h5 *ngFor="let authors of bookId['volumeInfo'].authors">
        By: {{ authors }}
      </h5>
      <hr *ngIf="bookId" />
      <div class="wrap">
        <div class="box mr-2" *ngIf="bookId['saleInfo'].listPrice">
          <h6>List Price</h6>
          <small>{{ bookId['saleInfo'].listPrice.amount || 'No price' }}</small>
        </div>
        <div class="box" *ngIf="bookId['saleInfo'].retailPrice">
          <h6>Retail Price</h6>
          <small>{{
            bookId['saleInfo'].retailPrice.amount || 'No price'
          }}</small>
        </div>
      </div>

      <div class="info mt-4">
        <ul class="list-group">
          <li
            class="list-group-item accentColor d-flex"
            *ngIf="bookId['volumeInfo'].averageRating"
          >
            Average Rating:
            {{ bookId['volumeInfo'].averageRating }}
          </li>
          <li
            class="list-group-item accentColor"
            *ngIf="bookId['volumeInfo'].categories"
          >
            Categories:
            <h6 *ngFor="let cat of bookId['volumeInfo'].categories">
              {{ cat }}
            </h6>
          </li>
          <li
            class="list-group-item accentColor"
            *ngIf="bookId['volumeInfo'].printedPageCount"
          >
            Page Count: {{ bookId['volumeInfo'].printedPageCount }}
          </li>
          <li
            class="list-group-item accentColor"
            *ngIf="bookId['volumeInfo'].publishedDate"
          >
            Publish Date:
            {{ bookId['volumeInfo'].publishedDate | date: 'MM/dd/yyyy' }}
          </li>
        </ul>
      </div>
    </div>
    <div
      class="jumbotron mt-5 accentColor"
      *ngIf="bookId['volumeInfo'].description"
    >
      <h5 class="text-center">Overview</h5>
      <p>{{ overview }}</p>
    </div>
  </div>
</div>
