hr {
  border-color: #fff;
}

.wrap {
  display: flex;
  justify-content: center;

  .box {
    border: 3px solid #57ba98;
    width: 20%;
    padding: 1%;
    text-align: center;
  }
}

.accentColor {
  background-color: #f2f2f2;
  color: #333;
}
