<ng4-loading-spinner> </ng4-loading-spinner>
<app-navbar (searchBooks)="searchBooks($event)"></app-navbar>
<div class="container grid mt-5">
  <ng-container *ngIf="bookId.id == 0">
    <app-book-item
      *ngFor="
        let book of books
          | paginate
            : { itemsPerPage: 20, currentPage: p, totalItems: totalItems }
      "
      [book]="book"
      (sendId)="getBookById($event)"
    ></app-book-item>
  </ng-container>
</div>
<div class="container d-flex justify-content-center">
  <pagination-controls
    *ngIf="bookId.id == 0"
    class="my-pagination"
    (pageChange)="pageChange($event)"
  ></pagination-controls>
</div>

<app-book *ngIf="bookId.id !== 0" [bookId]="bookId"></app-book>
